.u-color-red { color: $red !important; }
.u-color-pink { color: $pink !important; }
.u-color-purple { color: $purple !important; }
.u-color-deep-purple { color: $deep-purple !important; }
.u-color-indigo { color: $indigo !important; }
.u-color-blue { color: $blue !important; }
.u-color-light-blue { color: $light-blue !important; }
.u-color-cyan { color: $cyan !important; }
.u-color-teal { color: $teal !important; }
.u-color-green { color: $green !important; }
.u-color-light-green { color: $light-green !important; }
.u-color-lime { color: $lime !important; }
.u-color-yellow { color: $yellow !important; }
.u-color-amber { color: $amber !important; }
.u-color-orange { color: $orange !important; }
.u-color-deep-orange { color: $deep-orange !important; }
.u-color-brown { color: $brown !important; }
.u-color-blue-grey { color: $blue-grey !important; }
.u-color-light { color: rgba($color-white, 0.75); }

.u-bg-red { background-color: $red !important; }
.u-bg-pink { background-color: $pink !important; }
.u-bg-purple { background-color: $purple !important; }
.u-bg-deep-purple { background-color: $deep-purple !important; }
.u-bg-indigo { background-color: $indigo !important; }
.u-bg-blue { background-color: $blue !important; }
.u-bg-light-blue { background-color: $light-blue !important; }
.u-bg-cyan { background-color: $cyan !important; }
.u-bg-teal { background-color: $teal !important; }
.u-bg-green { background-color: $green !important; }
.u-bg-light-green { background-color: $light-green !important; }
.u-bg-lime { background-color: $lime !important; }
.u-bg-yellow { background-color: $yellow !important; }
.u-bg-amber { background-color: $amber !important; }
.u-bg-orange { background-color: $orange !important; }
.u-bg-deep-orange { background-color: $deep-orange !important; }
.u-bg-brown { background-color: $brown !important; }
.u-bg-blue-grey { background-color: $blue-grey !important; }
