@import 'variables';

.steps {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  &__item {
    position: relative;
    padding-top: 16px;
    text-align: center;
    flex: 1 1 0%;
    margin-left: 8px;
    margin-right: 8px;
    &:not(:first-child)::before {
      content: '';
      display: block;
      height: 2px;
      width: 100%;
      position: absolute;
      top: 7px;
      right: 50%;
      margin-right: 8px;
      background-color: $grey-lighter;
    }
  }
    &__indicator {
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      position: absolute;
      top: 4px;
      left: 50%;
      margin-left: -4px;
      background-color: $grey-lighter;
    }
    &__title {
      color: $muted-color;
      font-size: 14px;
      line-height: 20px;
      margin: 0;
    }
    &__desc {
      font-size: 13px;
      line-height: 16px;
      color: $muted-color;
      margin: 0;
    }
}

// status
.steps__item {
  &.is-active {
    &::before {
      background-color: $color-primary;
    }
    .steps__indicator {
      background-color: $color-primary;
    }
    .steps__title {
      color: $grey-dark;
    }
  }
  &.is-warning {
    &::before {
      background-color: $color-warning;
    }
    .steps__indicator {
      background-color: $color-warning;
    }
    .steps__title {
      color:  $color-warning;
    }
  }
  &.is-error {
    &::before {
      background-color: $color-danger;
    }
    .steps__indicator {
      background-color: $color-danger;
    }
    .steps__title {
      color: $color-danger;
    }
  }
}
