.navbar {
  .navbar__item {
    position: relative;
    cursor: pointer;
  }
  .navbar__item.has-children {
    padding-right: 16px;
    &::after {
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -2px;
      opacity: 0.8;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 4px 4px 0 4px;
      border-color: currentColor transparent transparent transparent;
    }
  }
}
